<form action="/shortener" method="POST" class="container d-flex flex-column align-items-center">
  <input type="text" name="full" placeholder="Input Your URL here" class="mb-4 w-75   form-control">
  <button type="submit" class="btn btn-outline-primary w-25">Shorten</button>
</form>